<div class="panel panel-default">
  <div class="panel-heading"><h2>Über Picmania</h2></div>
  <div class="panel-body">
    <p>Picmania ist eine einfache Webanwendung (Web-App), mit der jeder seine Bilder veröffentlichen und weiter steuern kann.</p>
    <p>
    Es wurde von <span class="highlight"><a href="http://www.flexdoc.xyz" target="_blank">Leonid Rudy</a></span> mit
    <i><a href="https://rubyonrails.org/" target="_blank">Ruby on Rails 6</a></i> entwickelt, um zu zeigen,
    wie man diese Technologie in nur zwei Wochen erlernen kann (hauptsächlich an Wochenenden und in anderer Freizeit).
    </p>
    <p>
    Den vollständigen Quellcode der App finden Sie unter:
    <span class="highlight"><a href="https://github.com/lry180320/picmania.git" target="_blank">https://github.com/lry180320/picmania.git</a></span>
    </p>
    <p><span class="highlight">Brauchen Sie einen <i>Ruby on Rails</i> Profi?</span> Dann stellen Sie mich einfach ein, und in den nächsten zwei Wochen erhalten Sie von mir irgendwelche Dinge, wie Sie wollen (und vieles mehr)!</p>
  </div>
  <div class="panel-footer"><%= link_to "Zurück", root_path %></div>
</div>