<div class="panel panel-default">
  <div class="panel-heading"><h2>Neues Pic</h2></div>
  <div class="panel-body"> 

    <%= render 'form', pic: @pic %>

  </div>
  <div class="panel-footer"><%= link_to 'Zurück', :back %></div>
</div>

